# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*$py.class


# =========================
# Virtual Environment
# =========================

venv/
.venv/
env/
ENV/


# =========================
# Django
# =========================

*.log
db.sqlite3
db.sqlite3-journal


# =========================
# Environment Variables / Secrets
# =========================

.env
.env.*
!.env.example


# =========================
# Node.js / Frontend
# =========================

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# =========================
# Build Output
# =========================

dist/
build/

staticfiles/


# =========================
# Django Media
# =========================

media/


# =========================
# Python Packaging
# =========================

*.egg-info/


# =========================
# Testing / Coverage
# =========================

.coverage
htmlcov/
.pytest_cache/


# =========================
# IDE / Editor
# =========================

.vscode/
.idea/


# =========================
# OS Files
# =========================

.DS_Store
Thumbs.db