{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <script>
    (() => {
        const theme =
            localStorage.getItem("theme");

        if (theme === "light") {
            document.documentElement.classList.add("light");
        }
    })();
</script>

    <link
        rel="preconnect"
        href="https://fonts.googleapis.com"
    >

    <link
        rel="preconnect"
        href="https://fonts.gstatic.com"
        crossorigin
    >

    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
        rel="stylesheet"
    >
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>
        {% block title %}Portfolio{% endblock %}
    </title>

    <link
        rel="stylesheet"
        href="{% static 'css/output.css' %}"
    >

    {% block extra_css %}
    {% endblock %}

    <link rel="stylesheet" href="{% static 'css/theme.css' %}">

</head>


<body>

    {% include "partials/navbar.html" %}


    <main>

        {% block content %}
        {% endblock %}

    </main>


    {% include "partials/footer.html" %}


    <script src="{% static 'js/main.js' %}"></script>

    {% block extra_js %}
    {% endblock %}

</body>

</html>